#region-main-box section.block_exaplan .card-title {display:none !important;}

.exaplan-selectable-date:hover {
    background-color: #e1e1e2;
}

.exaplan-selectable-date[data-dateSelected="1"] {
    background-color: #c6c6c7;
}

a.exaplan-date-fixed.exaplan-selectable-date {
    color: green;

}
a.exaplan-date-fixed.exaplan-selectable-date:hover {

    color: black;
}
a.exaplan-date-fixed.exaplan-selectable-date.exaplan-date-current-modulepart {

    color: white;
}
a.exaplan-selectable-modulepart {

    color: rgba(85, 0, 0, 1);
}
a.exaplan-selectable-modulepart:hover {
    color: white
}
a.exaplan-selectable-modulepart.exaplan-date-current-modulepart {

    color: white;
}
/*
a.exaplan-selectable-modulepart[data-modulepartselected="1"] {
    background-color: #005300;
    border-color: #005300;
}
*/
a.exaplan-selectable-modulepart.exaplan-date-desired {
    color: black;
}
a.exaplan-selectable-modulepart:hover {
    color: black;
    background-color: #e1e1e2;
}
a.exaplan-date-current-modulepart {
    font-weight:bold;
    border: 3px black dotted;
    color: black;
}

a.exaplan-admin-modulepart-button.exaplan-date-desired {
    background-color: rgb(246, 184, 12, 1);
    border-color: rgb(246, 184, 12, 1);
    color: white;
}
a.exaplan-admin-modulepart-button.exaplan-date-desired:hover {
    border-color: white;
    color: black;
}
a.exaplan-admin-modulepart-button.exaplan-date-fixed {
    background-color: rgb(0, 83, 0, 1);
    border-color: rgb(0, 83, 0, 1);
    color: white;
}
a.exaplan-admin-modulepart-button.exaplan-date-fixed:hover {
    border-color: white;
    color: black;
}
a.exaplan-admin-modulepart-button.exaplan-date-no-desired {
    background-color: rgb(0, 83, 0, 1);
    border-color: rgb(0, 83, 0, 1);
    color: white;
}
a.exaplan-admin-modulepart-button.exaplan-date-no-desired:hover {
    background-color: rgb(0, 83, 0, 0.5);
    border-color: rgb(0, 83, 0, 0.5);
    color: black;
}

#block_exaplan_dashboard_calendar .tavo-calendar {
    /*font-size: 14px;*/
    /*line-height: 1.7;*/
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day {
    margin-top: 5px;
}

#block_exaplan_dashboard_calendar .tavo-calendar span.tavo-calendar__day-inner {
    position: relative;
}

/* todays marker */
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today {
    background-color: transparent;
}
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today span.tavo-calendar__day-inner {
    border-radius: 50%;
    background-color: #e1e4e6;
    /*color: white;*/
}

/* single day marker */
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day span.tavo-calendar__day-inner {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
    background-color: #f2f6fa;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day_select span.tavo-calendar__day-inner {
    /*background-color: #008000 !important;*/
    color: white;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day span.tavo-calendar__day-inner:hover {
    /*background-color: #008000;*/
    color: white;
}

#block_exaplan_dashboard_calendar .tavo-calendar span.exaplan-usedItems {
    font-size: 10px;
    line-height: 14px;
    color: #008000;
    width: 16px;
    height: 16px;
    border: 1px solid #008000;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 10000;
}

#block_exaplan_dashboard_calendar .tavo-calendar span.exaplan-middayType {
    font-size: 8px;
    line-height: 14px;
    color: #008000;
    width: 16px;
    height: 16px;
    border: 1px solid #008000;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 10000;
}

.calendar_options {
    font-size: 12px;
}

.calendar_options .midday-type-radio {
    margin-right: 20px;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.usedForModulepart .tavo-calendar__day-inner {
    background-color: #800000 !important;
}

#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired span.tavo-calendar__day-inner {
    background-color: #F6B80C !important;
    color: white;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired.exaplan-calendar-date-anotherModulepart span.tavo-calendar__day-inner {
    background-color: rgb(246, 184, 12, 0.12) !important;
    color: black;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-fixed span.tavo-calendar__day-inner {
    background-color: #008000 !important;
    color: white;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-fixed.exaplan-calendar-date-anotherModulepart span.tavo-calendar__day-inner {
    background-color: rgb(0, 128, 0, 0.12) !important;
    color: black;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired.exaplan-calendar-date-fixed span.tavo-calendar__day-inner {
    background-image: linear-gradient(
            135deg,
            #008800 25%,
            #F6B80C 25%,
            #F6B80C 50%,
            #008800 50%,
            #008800 75%,
            #F6B80C 75%,
            #F6B80C 100%
    );
    background-size: 19.80px 19.80px;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired.exaplan-calendar-date-fixed.exaplan-calendar-date-anotherModulepart span.tavo-calendar__day-inner {
    background-image: linear-gradient(
            135deg,
            rgb(0, 128, 0, 0.12) 25%,
            rgb(246, 184, 12, 0.12) 25%,
            rgb(246, 184, 12, 0.12) 50%,
            rgb(0, 128, 0, 0.12) 50%,
            rgb(0, 128, 0, 0.12) 75%,
            rgb(246, 184, 12, 0.12) 75%,
            rgb(246, 184, 12, 0.12) 100%
    );
    background-size: 19.80px 19.80px;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-blocked span.tavo-calendar__day-inner {
    background-color: #8CD0F2 !important;
    color: #253b48;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-blocked.exaplan-calendar-date-anotherModulepart span.tavo-calendar__day-inner {
    background-color: rgb(140, 208, 242, 0.12) !important;
    color: black;
}

.adminModuleplanView #block_exaplan_dashboard_calendar {
    margin-bottom: 25px;
}

table.exaplan-adminModulepartView {
    width: 100%;
}

table.exaplan-adminModulepartView th:nth-child(1),
table.exaplan-adminModulepartView td:nth-child(1) {
    width: 15% !important;
}
table.exaplan-adminModulepartView th:nth-child(2),
table.exaplan-adminModulepartView td:nth-child(2) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th:nth-child(3),
table.exaplan-adminModulepartView td:nth-child(3) {
    width: 15% !important;
}
table.exaplan-adminModulepartView th:nth-child(4),
table.exaplan-adminModulepartView td:nth-child(4) {
    width: 15% !important;
}
table.exaplan-adminModulepartView th:nth-child(7),
table.exaplan-adminModulepartView td:nth-child(7) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th:nth-child(8),
table.exaplan-adminModulepartView td:nth-child(8) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th.mainForm,
table.exaplan-adminModulepartView td.mainForm {
    width: 40% !important;
}
table.exaplan-adminModulepartView td.timeslotCheck1,
table.exaplan-adminModulepartView td.timeslotCheck2 {
    width: 15px;
}

table.exaplan-date-details-table {
    /*margin-left: 25px;*/
}
table.exaplan-date-details-table th {
    background-color: rgb(0, 83, 0, 0.75);;
    color: white;
    padding-right: 25px;
}
table.exaplan-date-details-table td {
    border-bottom: 1px solid rgb(0, 83, 0, 0.2);
}
table.exaplan-date-details-table td.dataContent {
    font-weight: bold;
}

.register-existing-dates {
    /*background-color: rgb(150, 150, 150, 0.05);*/
    padding: 5px 0px;
    margin-bottom: 10px;
}
.register-existing-dates table {
    margin-bottom: 0px;
}
.register-existing-dates table td {
    padding-left: 0px;
}
.register-existing-dates .exaplan-existing-date,
.register-existing-dates .exaplan-register-toDate {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.register-existing-dates .exaplan-register-toDate:hover {
    background-color: rgb(255, 0, 0, 0.5);
}

/*tooltipster*/
.tooltip_templates {
    display: none;
}
/*tooltip content box*/
/*.tooltipster-sidetip.tooltipster-light.tooltipster-exaplan .tooltipster-box {*/
/*background: #e1e4e6;*/
/*border: 1px solid #c6c6c7;*/
/*border-radius: 5px;*/
/*}*/
/*content text*/
.tooltipster-sidetip.tooltipster-light.tooltipster-exaplan .tooltipster-content {
    /*color:  black;*/
    font-size: 0.75em;
    /*padding: 8px;*/
}

.exaplan-celendar-blured .tavo-calendar__day {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #ffffff;
}

.exaplan-calendarContainer {
    position: relative;
    width: 350px;
    min-width: 350px;
}


/*----------------------- new code from vanessa -------------------v--->*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;}

#exaplan table {
    font-family: arial, sans-serif;
    border-collapse: collapse;

}

#exaplan th {
    text-align: left;
    padding: 4px 0 4px 0;
}



#exaplan table.exaplan-result-item-table th {font-size: 1rem; padding: 30px; }

#exaplan .header-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -45px;
    border: 3px solid #ddd;
    border-radius: 50%;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
}

#exaplan h3.exaplan-result-item-table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #C20530;
}

#exaplan h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: bold;
    color: #C20530;
}


#exaplan .result-item-header-cnt {
    display: -ms-flexbox !important;
    display: flex;
    -ms-flex-direction: row !important;
    flex-direction: row;
    -ms-flex-pack: justify !important;

    justify-content: space-between !important;
    aalign-items:  center; /*didi, f�hrt zu herunterr�ckung vom icon*/
    position: relative;
}


#exaplan .item-header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #2E2E2E;
    padding: 10px 7px 0px 75px;
}

#exaplan .circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

#exaplan .type1 {
    width: 1rem;
    height:  1rem;
    background: #C20530;
    display: inline-block;

}

#exaplan .type2 {
    width: 1rem;
    height:  1rem;
    background: #ddd;
    display: inline-block;
}

#exaplan .btn-danger,
#exaplan .btn-desire,
#exaplan .btn-fix,
#exaplan .btn-blocked {
    font-family: Arial;
    color: #ffffff;
    background: #C20530;
    text-decoration: none;
    border-style: none;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.6rem;
    line-height: 1.2rem;
}
#exaplan .btn-desire {
    background: rgb(246, 184, 12, 0.25);
    color: #000000;
}
#exaplan .btn-fix {
    background: rgb(0, 83, 0, 1);
    color: #ffffff;
}
#exaplan .btn-blocked {
    background-color: #8CD0F2;
    color: #253b48;
}

#exaplan .btn-outline-danger {
    border-style: none;
    background-color: #ddd;
}

#exaplan .result-item-header {
    background-color: #ddd;
    min-height:50px;
}

#exaplan .exaplan-result-item {
    margin-left: 20px;
}

.moduleListTable .exaplan-date-blocked {
    background-color: #8CD0F2 !important;
    color: #253b48 !important;
}

/* skill bar------------------------------------------------------------------------*/

* {box-sizing:border-box}

#exaplan .result-item-header-cnt {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

#exaplan .skills {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}

#exaplan .html {width: 90%; background-color: #C20530;}
#exaplan .css {width: 80%; background-color: #C20530;}
#exaplan .js {width: 65%; background-color: #C20530;}
#exaplan .php {width: 100%; background-color: #E02061;}

#exaplan .btn {padding: .175rem .25rem;}
#exaplan table.tbl_modulparts th{padding: 0 .25rem;}
#exaplan table.tbl_modulparts td{padding: 0 .25rem;}

#exaplan .mainTable {
    width: 100%;
}

#exaplan .moduleListTable {
    width: 100%;
}

#exaplan .moduleListTable th.regionColumn,
#exaplan .moduleListTable td.regionColumn {
    padding-left: 15px;
}

#exaplan .exaplan-date-button-item {
    display: inline-block;
    position: relative;
}

#exaplan .examplan-existing-date {
    white-space: nowrap;
    margin-bottom: 5px;
}

#exaplan .countStudents {
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #008000;
    width: 16px;
    height: 16px;
    border: 1px solid #008000;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 10000;
}
