
.exaplan-selectable-date:hover {
    background-color: #e1e1e2;
}

.exaplan-selectable-date[data-dateSelected="1"] {
    background-color: #c6c6c7;
}

.exaplan-selectable-modulepart:hover {
    background-color: rgba(0, 83, 0, 0.50);
}
.exaplan-selectable-modulepart[data-modulepartselected="1"] {
    background-color: #005300;
    border-color: #005300;
}

#block_exaplan_dashboard_calendar .tavo-calendar {
    /*font-size: 14px;*/
    /*line-height: 1.7;*/
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day {
    margin-top: 5px;
}

#block_exaplan_dashboard_calendar .tavo-calendar span.tavo-calendar__day-inner {
    position: relative;
}

/* todays marker */
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today {
    background-color: transparent;
}
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today span.tavo-calendar__day-inner {
    border-radius: 50%;
    background-color: #e1e4e6;
    /*color: white;*/
}

/* single day marker */
#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day span.tavo-calendar__day-inner {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
    background-color: #f2f6fa;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day_select span.tavo-calendar__day-inner {
    background-color: #008000 !important;
    color: white;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day span.tavo-calendar__day-inner:hover {
    background-color: #008000;
    color: white;
}

#block_exaplan_dashboard_calendar .tavo-calendar span.exaplan-usedItems {
    font-size: 10px;
    line-height: 14px;
    color: #008000;
    width: 16px;
    height: 16px;
    border: 1px solid #008000;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 10000;
}

.calendar_options {
    font-size: 12px;
}

.calendar_options .midday-type-radio {
    margin-right: 20px;
}

#block_exaplan_dashboard_calendar .tavo-calendar .tavo-calendar__day.usedForModulepart .tavo-calendar__day-inner {
    background-color: #800000 !important;
}

#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired span.tavo-calendar__day-inner {
    background-color: orange !important;
    color: white;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-fixed span.tavo-calendar__day-inner {
    background-color: #008000 !important;
    color: white;
}
#block_exaplan_dashboard_calendar .tavo-calendar .exaplan-calendar-date-desired.exaplan-calendar-date-fixed span.tavo-calendar__day-inner {
    background-image: linear-gradient(
            135deg,
            #008800 25%,
            orange 25%,
            orange 50%,
            #008800 50%,
            #008800 75%,
            orange 75%,
            orange 100%
    );
    background-size: 19.80px 19.80px;
}

.adminModuleplanView #block_exaplan_dashboard_calendar {
    margin-bottom: 25px;
}

table.exaplan-adminModulepartView {
    width: 100%;
}

table.exaplan-adminModulepartView th:nth-child(1),
table.exaplan-adminModulepartView td:nth-child(1) {
    width: 15% !important;
}
table.exaplan-adminModulepartView th:nth-child(2),
table.exaplan-adminModulepartView td:nth-child(2) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th:nth-child(3),
table.exaplan-adminModulepartView td:nth-child(3) {
    width: 15% !important;
}
table.exaplan-adminModulepartView th:nth-child(4),
table.exaplan-adminModulepartView td:nth-child(4) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th:nth-child(5),
table.exaplan-adminModulepartView td:nth-child(5) {
    width: 10% !important;
}
table.exaplan-adminModulepartView th:nth-child(6),
table.exaplan-adminModulepartView td:nth-child(6) {
    width: 40% !important;
}

