
.exaplan-selectable-date:hover {
    background-color: #e1e1e2;
}

.exaplan-selectable-date[data-dateSelected="1"] {
    background-color: #c6c6c7;
}

#block_exaplan_calendar .tavo-calendar {
    /*font-size: 14px;*/
    /*line-height: 1.7;*/
}

#block_exaplan_calendar .tavo-calendar .tavo-calendar__day {
    margin-top: 5px;
}

/* todays marker */
#block_exaplan_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today {
    background-color: transparent;
}
#block_exaplan_calendar .tavo-calendar .tavo-calendar__day.tavo-calendar__day_abs-today span {
    border-radius: 50%;
    background-color: #e1e4e6;
    /*color: white;*/
}

/* single day marker */
#block_exaplan_calendar .tavo-calendar .tavo-calendar__day span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
    background-color: #f2f6fa;
}

#block_exaplan_calendar .tavo-calendar .tavo-calendar__day_select span {
    background-color: #008000 !important;
    color: white;
}

#block_exaplan_calendar .tavo-calendar .tavo-calendar__day span:hover {
    background-color: #008000;
    color: white;
}




